<div class="orders">

    <% if(result.length !== 0){ %> 

        <h1 class="ordersTitle">Estas son sus ordenes registradas:</h1>

        <div class="orderContainer">

                        <% result.forEach(x =>{ %>

                            <h3 class="dateOrders">Fecha de compra: <%= x.timestamp %></h3>
                <table>

                    <thead>
                        <tr>
                            <th colspan="5">Orden de Compra</th>
                        </tr>
                    </thead>
            
                        <tbody>
    
                            
                                
                                <tr>
                                    <td colspan="3"><p class="pOrder">ID compra</p></td>
                                    <td colspan="2"><p class="pOrder"><%= x._id %> </p></td>
                                </tr>
                                <tr> 
                                    <td colspan="3"><p class="pOrder">Cliente</p></td>
                                    <td colspan="2"><p class="pOrder"><%= x.userName %> <%=x.userLastName %></p></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><p class="pOrder">Email</p></td>
                                    <td colspan="2"><p class="pOrder"><%= x.email %></p></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><p class="pOrder">Telefono</p></td>
                                    <td colspan="2"><p class="pOrder"><%= x.phone %></p></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><p class="pOrder">direccion de Entrega</p></td>
                                    <td colspan="2"><p class="pOrder"> <%= x.address %></p></td>
                                </tr>
                                
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                                <tr>
                                    <th colspan="1"><p class="pOrder">  Producto  </p></th>
                                    <th colspan="1"><p class="pOrder">  Descripcion  </p></th>
                                    <th colspan="1"><p class="pOrder">  Precio  </p></th>
                                    <th colspan="1"><p class="pOrder">  Cantidad  </p></th>
                                    <th colspan="1"><p class="pOrder">  subtotal  </p></th>
                                </tr>

                                <% x.products.forEach(y =>{ %>
                                    
                                    
                                    <tr>
                                        <td><p class="pOrder"> <%= y.name %> </p></td>
                                        <td><p class="pOrder"> <%= y.description %> </p></td>
                                        <td><p class="pOrder"> <%= y.price %> </p></td>
                                        <td><p class="pOrder"> <%= y.quantity %> </p></td>
                                        <td><p class="pOrder"> <%= y.quantity * y.price%> $USD </p></td>
                                    </tr>
                                    

                                <% }) %>
                                <tr>
                                    <td colspan="5"><p style="text-align: end;" class="pOrder"> SubTotal a Pagar: <%= x.totalPay / 1.21 %> $USD</p></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><p  style="text-align: end;" class="pOrder"></p></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><p  style="text-align: end;" class="pOrder">Total a Pagar: <%= x.totalPay%> $USD</p></td>
                                </tr>

                                
                            </tbody>
                        </table>
                        
                        <% }) %>
        </div>
        
    <% }else{ %>

        <h1>No tienes órdenes registradas</h1>

    <% } %>

    </div>